/* Main style sheet for Horiseon Website. */

/* Setting global style for the page with border-box with 0 padding and 0 margin. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Setting font family for header and footer. */
header, footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Setting font family for navigation bar, main content and aside content. */
header nav, main, aside {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Setting font color for links in navigation bar, header, main content and aside content. */
a, header, main, aside {
    color: #ffffff;
}

/* Removed the underlines from each of the navigation links. */
a {
    text-decoration: none;
}

/* Font size of 16 pixels for the paragraphs in each of the main section content. */
p {
    font-size: 16px;
}

/* Setting the background-color of the page to d9dcd6. */
body {
    background-color: #d9dcd6;
}

/* Setting padding to 20 pixels for teh header and the background-color to 2a607c. */
header {
    padding: 20px;
    background-color: #2a607c;
}

/* Setting the page header to inline-block and font size to 48 pixels. */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Setting 15 pixels of padding on the top and right margin of 20 pixels for the navigation bar, as well as having it float to the ride and font size being 20 pixels. */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* Removing the bullet style for the navigation links. */
header nav ul {
    list-style-type: none;
}

/* Setting up inline-block for the navation links, and 25 pixels margin to the left of the link. */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

main section img {
    max-height: 200px;
}

main section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

aside section {
    margin-bottom: 32px;
}

aside section h3 {
    margin-bottom: 10px;
    text-align: center;
}

aside section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

.seo {
    color: #d9dcd6;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Class for the float left contents in main content. */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Class for the float right contents in main content. */
.float-right {
    float: right;
    margin-left: 25px;
}